.nav-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: auto;
  padding: 0;
}

.nav-bar-logo-container {
  margin-top: 1px;
}

.nav-bar-logo {
  animation: nav-bar-logo-spin infinite 20s linear;
  height: 3vh;
}

@keyframes nav-bar-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar-li {
  display: inline-flex;
  padding: 20px;
}
 
.nav-bar-li a {
  color:aliceblue;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}
