.home-page__hero,
.home-page__section-a,
.home-page__section-b {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.home-page__hero,
.home-page__section-b {
  background: aliceblue;
}

.home-page__section-a {
  background: snow;
}

.home-page__main {
  margin-left: 300px;
}